div.mibox{
    text-align: center;
    background-color: green;
    color: white;
    margin: 3px;
}
div.miboxfija{
    text-align: center;
    background-color: red;
    color: white;
    margin: 3px;

}
h1{
    text-align: center;
    color: red;
}
div.cir {
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    font-size: 80px;
    border-radius: 100%;
    text-align: center;
    line-height: 180px;
    font-style: bold;
}
/*---------------------------------------------------------------------------------------------------*/
div.container {
    background-color: grey;
}
#marco{
    border: 2px darkslategrey solid;
    padding: 5px;
}
/*---------------------------------------------------------------------------------------------------*/
.col-10{
    margin-left: 20px;
}
.col-8{
    margin-left: 20px;
}
.col-4{
    margin-left: 20px;
}
.col-3{
    margin-left: 20px;
}

p{
    color:blue;
    font-weight: bold;
}

#postal{
    margin-left: 3px;
    height: 32px;
}
