@import url('https://fonts.googleapis.com/css?family=Oldenburg');
body {  /*Permite asignar contenido dentro de todo lo que contenga el body*/
    padding: 50px;  /*Espaciado interior de todo lo mostrado en el HTML UP-R-BOTTOM-L*/
    background-color: beige;    /*Fondo del elemento*/
}

h1 {    /*Selector h1, permite asignar a h1 el color elegido*/
    color: brown;
}
/* h1.fnt-red {     "Selector para todos los elementos h1, solo para ellos, con la clase fnt-red"
    color: red;
    }
    
    .fnt-blue {     "Selector para todo sea h1 o no, con clase fnt-blue"
    color: blue;
    }

    #nombre_alumno {        "Elemento con id "nombre alumno" que debería ser único"
        color: red;
        text-decoration: underline;
    } */
h3{
    color: blue;
}
.titulo{
    color: rgba(15, 197, 230, 0.966);
    font-style: italic;
    font-size: 30px;
}
.texto{
    color: darkblue;
    font-size: 15px;
}
.destacado{
    font-style: italic;
    font-weight: bold;
}
/*------------------------------------------------------------------------------------------------*/
div.centro {
    margin: auto;
    width: 990px;
    height: 200px;
    text-align: center;
    background-color: beige;
    font-weight: bold;
}
#izquierda {
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 100%;
    float: left;
    margin-right: 100px;

}
#centro {
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 100%;
    float: left;
    margin-right: 100px; 
}
#derecha {
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
}
.numero {
    color: white;
    font-size: 150px;
}

/*---------------------------------------------------------------------------------------------------*/
#superior{
    width: 100%;
    left: 0%;
    top: 0%;
    height: 40px;
    text-align: center;
    line-height: 10px; /* Ajusta el texto dentro del contenedor superior*/
    background-color: blue;
    font-weight: bold;
    position: fixed;
}
#inferior{
    width: 100%;
    left: 0%;
    bottom: 0%;
    height: 40px;
    text-align: center;
    line-height: 10px; /* Ajusta el texto dentro del contenedor superior*/
    background-color: red;
    font-weight: bold;
    position: fixed;
}
#volver{
    margin: auto;
    width: 100%;
    left: 0%;
    height: 40px;
    text-align: center;
    line-height: 150px; /* Ajusta el texto dentro del contenedor superior*/
    background-color: beige;
    font-weight: bold;
    position: fixed;
}
.p{
    color: white;
}
/*---------------------------------------------------------------------------------------------------*/
#cuadro0{
    margin: auto;
    width: 400px;
    height: 400px;
    font-weight: bold;
    background-color: beige;

}
#cuadro1{
    margin: auto;
    width: 190px;
    height: 190px;
    font-size: 150px;
    text-align: center;
    background-color: red;
    border: 2px beige solid;
    display: inline-block;
}
#cuadro2{
    margin: auto;
    width: 190px;
    height: 190px;
    font-size: 150px;
    text-align: center;
    background-color: green;
    border: 2px beige solid;
    display: inline-block;
}
#cuadro3{
    margin: auto;
    width: 190px;
    height: 190px;
    font-size: 150px;
    text-align: center;
    background-color: blue;
    border: 2px beige solid;
    display: inline-block;
}
#cuadro4{
    margin: auto;
    width: 190px;
    height: 190px;
    font-size: 150px;
    text-align: center;
    background-color: black;
    border: 2px beige solid;
    display: inline-block;
}
i{
    color: white;
}
/*---------------------------------------------------------------------------------------------------*/
i1{
    color: black;
}
/*---------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------*/
#estilo{
    font-family: 'Oldenburg', cursive;
}
/*---------------------------------------------------------------------------------------------------*/
#button {
    padding: 0;
}
#button li {
    display: inline;
}
#button li a {
    font-family: Arial;
    font-size:11px;
    text-decoration: none;
    float:left;
    padding: 10px;
    background-color: #2175bc;
    color: #fff;
}
#button li a:hover {
    background-color: #2586d7;
    margin-top:-2px;
    padding-bottom:12px;
}
/*---------------------------------------------------------------------------------------------------*/

