@media only screen and (max-width: 799px) {
    body {
        background-color: green;
    }
    #cuadroverde{
        display: block;
    }
    #cuadrorojo{
        display: none;
    }
}
@media only screen and (min-width: 800px) {
    body {
        background-color: red;
    }
    #cuadroverde{
        display: none;
    }
    #cuadrorojo{
        display: block;
    }
}


