body{
    background-color: aqua;
}
h1{
    color: red;
    font-weight: bold;
}
p{
    color: black;
    font-weight: bold;
    text-align: center;
}
div.posicion{
    position: absolute;
	/*nos posicionamos en el centro del navegador*/
	top:50%;
	left:50%;
	/*determinamos una anchura*/
	width:400px;
    /*indicamos que el margen izquierdo, es la mitad de la anchura*/	
	margin-left:-200px;
	/*determinamos una altura*/
	height:750px;
	/*indicamos que el margen superior, es la mitad de la altura*/
    margin-top:-150px;
    margin-bottom: 150px;
	padding:5px;
}
#tipo1{
    height: 200px;
    background-image:  url(elo.png);
    background-repeat: 100% auto;
    background-size: 25.13%;
    background-position-y: 0.6px;
}
#tipo2{
    height: 200px;
    background-image: url(elo.png);
    background-size: 100%;
}
#tipo3{
    height: 200px; 
    background-image: url(elo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
}    



